.hamburger {
    transition: all 1s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    @media screen and (min-width:993px) {
        display: none;
    }
    &__nav {
        @include center;
        padding-left: 40%;
        margin: 18px;
        @media screen and (maX-width:768px) {
            padding-left: 35%;
        }
        @media screen and (maX-width:500px) {
            padding-left: 30%;
        }
        @media screen and (maX-width:400px) {
            padding-left: 25%;
        }
    }
    &__links {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin: 30px 20px;
            width: 100%;
            text-align: center;
            @media screen and (max-width:576px) {
                margin: 50px 0;
            }
        }
        a {
            color: #fff;
            font-size: 5rem;
            text-decoration: none;   
            font-weight: 400;
            text-shadow: 0 0 1px rgba(21, 127, 197, 0.8);
            @media screen and (max-width:576px) {
                font-size: 3.5rem;
            }
        }
    }
    &__btn {
        display: block;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        margin: 0;
        padding: 0;
        width: 60px;
        height: 60px;
        font-size: 0;
        border: none;
        box-shadow: none;
        cursor: pointer;
    }
    &__menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: #8b5487;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        transform: translate(-100%, 0);
        transition: all 1s ease;
        z-index: 7;
        &:focus, &:active {
            transition: all 1s ease;
            transform: translate(0,0);
        }
    }
    &__menu.nav-active {
        transition: all 1s ease;
        transform: translate(0,0);
    }
}


.hamburger__btn:focus {
    outline: none;
}

.hamburger__btn span {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
    right: 15px;
    height: 1px;
    background-color: #000;
}

.hamburger__btn span::before, 
.hamburger__btn span::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: -8px;
    height: 1px;
    border-radius: 5px;
    background: #000;
}

.hamburger__btn span::before {
    top: -16px;
}

.hamburger__btn span::after {
    bottom: -16px;
}

.hamburger-line {
    background-color: transparent;
}

.hamburger-line span,
.hamburger-line span::before, 
.hamburger-line span::after {
    transition-duration: .3s, .3s;
    transition-delay: .3s, 0s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.hamburger-line span::before {
    transition-property: top, transform;
}

.hamburger-line span::after {
    transition-property: bottom, transform;
}

.hamburger-line.is-active span {
    box-shadow: none;
    transition: box-shadow .1s ease;
    background: none;
}

.hamburger-line.is-active span::before {
    top: 0;
    transform: rotate(-45deg);
}

.hamburger-line.is-active span::after {
    bottom: 0;
    transform: rotate(45deg);
}

.hamburger-line.is-active span::before, 
.hamburger-line.is-active span::after {
    transition-delay: 0s, .3s;
    background-color: #fff;
}


.body-active {
    transition: all 1s ease;
}


.ham-close {
    transform: translate(-100%, 0);
}